In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import math
np.random.seed(6)
population_ages1=stats.poisson.rvs(loc=18,mu=35,size=150000)
population_ages2=stats.poisson.rvs(loc=18,mu=10,size=100000)
population_ages=np.concatenate((population_ages1,population_ages2))
gujarat_ages1=stats.poisson.rvs(loc=18,mu=30,size=30)
gujarat_ages2=stats.poisson.rvs(loc=18,mu=10,size=20)
gujarat_ages=np.concatenate((gujarat_ages1,gujarat_ages2))
population_ages.mean()

43.000112

In [2]:
gujarat_ages.mean()

39.26

In [3]:
stats.ttest_1samp(a=gujarat_ages,popmean=population_ages.mean())

Ttest_1sampResult(statistic=-2.5742714883655027, pvalue=0.013118685425061678)

In [4]:
np.random.seed(12)
maharashtra_ages1=stats.poisson.rvs(loc=18,mu=33,size=30)
maharashtra_ages2=stats.poisson.rvs(loc=18,mu=13,size=20)
maharashtra_ages=np.concatenate((maharashtra_ages1,maharashtra_ages2))
maharashtra_ages.mean()

42.8

In [5]:
stats.ttest_ind(a=gujarat_ages,b=maharashtra_ages,equal_var=False)

Ttest_indResult(statistic=-1.7083870793286842, pvalue=0.09073104343957748)

In [6]:
np.random.seed(11)
before=stats.norm.rvs(scale=30,loc=250,size=100)
after=before+stats.norm.rvs(scale=5,loc=-1.25,size=100)
weight_df=pd.DataFrame({"weight_before":before,
                             "weight_after":after,
                             "weight_change":after-before})
weight_df.describe()

       weight_before  weight_after  weight_change
count     100.000000    100.000000     100.000000
mean      250.345546    249.115171      -1.230375
std        28.132539     28.422183       4.783696
min       170.400443    165.913930     -11.495286
25%       230.421042    229.148236      -4.046211
50%       250.830805    251.134089      -1.413463
75%       270.637145    268.927258       1.738673
max       314.700233    316.720357       9.759282

In [7]:
stats.ttest_rel(a=before,b=after)

Ttest_relResult(statistic=2.5720175998568284, pvalue=0.011596444318439857)

In [8]:
stats.kstest(x,'t',(10,))

NameError: name 'x' is not defined

In [9]:
stats.ks_2samp(gujarat_ages,maharashtra_ages)

Ks_2sampResult(statistic=0.20000000000000007, pvalue=0.24079199341891774)

In [21]:
df=pd.read_csv('furniture1.csv',index_col='Serial',parse_dates=True)
df['Gross']=df.Cost+df.Cost*10
df.describe()

AttributeError: 'DataFrame' object has no attribute 'Cost'